{% extends 'base.html' %}

{% load django_bootstrap5 %}


{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Create Company Profile Required</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto ">
                    <p class='text-xl-left' > You have to create Company Profile </p>
                    <p  class='text-xl-left' > Do you want to create company Profile?</p>
                    <a  class="btn btn-success px-4 "  href="{% url 'accounts:profile' %}" >Create Company Profile</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}