{% extends 'base.html' %}
{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{company.company_name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
<div class="job_details_area">
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{% if company.compnay_logo %}{{ company.compnay_logo.url }}{% else %}https://bootdey.com/img/Content/avatar/avatar6.png{% endif %}" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>{{company.company_name}}</h4>
                                <p class="text-secondary mb-1">{{ company.company_field }}</p>
                                <p class="text-muted font-size-sm">{{ company.company_address }}</p>
                            </div>
                        </div>
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            {% if company.company_website_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <span><i class="fa fa-globe  text-dark" aria-hidden="true"></i>  Website </span>
                                <a href="{{company.company_website_url}}"<span class="text-secondary">{{ company.company_website_url }}</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ company.company_name }} Overview</h4>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Company Size:</strong> {{ company.company_size }}</li>
                            <li class="list-group-item"><strong>Industry:</strong> {{ company.company_field }}</li>
                            <li class="list-group-item"><strong>Location:</strong> {{ company.company_address }}</li>
                            {% if company.company_founded %}
                                <li class="list-group-item"><strong>Founded:</strong> {{ company.company_founded }}</li>
                            {% endif %}
                            {% if company.company_revenue %}
                                <li class="list-group-item"><strong>Revenue:</strong> {{ company.company_revenue }}</li>
                            {% endif %}
                            {% if company.company_ceo %}
                                <li class="list-group-item"><strong>CEO:</strong> {{ company.company_ceo }}</li>
                            {% endif %}
                        </ul>
                        <hr>
                        <h4 class="card-title">Our Services</h4>
                        <ul class="list-group list-group-flush">
                            {% for service in company.services.all %}
                                <li class="list-group-item">{{ service }}</li>
                            {% endfor %}
                        </ul>
                        <hr>
                        <h4 class="card-title">Contact Us</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Phone:</strong> {{ company.company_phone_number }}</li>
                            <li class="list-group-item"><strong>Email:</strong> {{ company.user.email }}</li>
                            {% if company.company_website_url %}
                                <li class="list-group-item"><strong>Website:</strong> <a href="{{ company.company_website_url }}">{{ company.company_website_url }}</a></li>
                            {% endif %}
                            {% if company.company_twitter_url %}
                                <li class="list-group-item"><strong>Twitter:</strong> <a href="{{ company.company_twitter_url }}">{{ company.company_twitter_url }}</a></li>
                            {% endif %}
                            {% if company.company_linkedin_url %}
                                <li class="list-group-item"><strong>LinkedIn:</strong> <a href="{{ company.company_linkedin_url }}">{{ company.company_linkedin_url }}</a></li>
                            {% endif %}
                            {% if company.company_facebook_url %}
                                <li class="list-group-item"><strong>Facebook:</strong> <a href="{{ company.company_facebook_url }}">{{ company.company_facebook_url }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                        {% if user == company.user %}
                            <a  class="btn btn-primary px-4"  href="{% url 'accounts:profile_edit' %}" >Edit Profile</a>
                        {% elif user.is_authenticated %}
                            <a  class="btn btn-success px-4"  href="#" >Contact</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}