{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{ job }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="{{job.photo.url}}" class="w-100 h-100" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#"><h4>{{ job }}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i>{{job.job_type}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Job description</h4>
                            <p>{{job.description}}</p>
                        </div>

                    </div>
                    <div class="apply_job_form white-bg">
                        
                        {% if request.user != job.owner%}
                        <h4>Apply for the job</h4>
                        <form action="." method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
        
                        </form>
                        {% else %}
                        <a class="boxed-btn3 w-25 mt-5" href="{% url 'job:edit_job' job.id %}" type="submit">Edit </a>
                        <a class="boxed-btn3 w-25 mt-5 bg-danger " href="#" type="submit">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Job Summery</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Published on: <span>{{job.published_at|date:'d M Y '}}</span></li>
                                <li>Vacancy: <span>{{ job.vecancy }}Position</span></li>
                                <li>Salary: <span> {{ job.salary }}k/y</span></li>
                                <li>Location: <span>California, USA</span></li>
                                <li>Job Nature: <span> {{job.job_type}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="share_wrap d-flex">
                        <span>Share at:</span>
                        <ul>
                            <li><a href="http//www.facebook.com"> <i class="fa fa-facebook"></i></a> </li>
                            <li><a href="http//www.googleplus.com"> <i class="fa fa-google-plus"></i></a> </li>
                            <li><a href="http//www.twitter.com"> <i class="fa fa-twitter"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
